.form {
    /* width: 450px; */
    padding: 15px;
    /* border: 1px solid gray; */
    /* display: flex; */
    /* flex-direction: column; */
}

.form__btn {
    display: block;
    padding: 8px 12px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.form__input {
    display: block;
    margin-bottom: 10px;
}